body,section,article,p,h1,h2,h3,h4,li,ul,button{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffffff;
    color: #201407;
    font-family:Arial, Helvetica, sans-serif;
}
.listaEmail h3{
    margin-bottom: 20px;
}


.EmailAtual-container{
    width:250px;
    margin: 20px auto;
}
.EmailAtual-h2{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 20px;
}
.textoEmail{
    display: block;
    height: 20px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    border: 2px solid #2014078e ;
} 

/**/
.notificar-email, .copiar-email{
    outline: none;
    height:28px;
    margin-top: 8px;
    padding: 4px 8px;
    font-size: 12px;
    border: 2px solid #2014072e;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: 600;
}

.notificar-email:focus, .copiar-email:focus, .textoEmail:focus{
    border:2px solid #F09D43;
}

.copiar-email{
    margin-right: 8px;
    color:#F09D43;
    background-color: #1D1D1D;
    position: relative;
}
.copiar-email::before{
    content:"";
    display:inline-block;
    width: 0px;
    height: 1px;
    background-color: #F09D43;
    position: absolute;
    top:19px;
    transition: 0.5s 0.8s;
}
.copiar-email:hover::before{
    width: 52px;
}


.notificar-email{
    position: relative;
}
.notificar-email::before{
    content:"";
    display:inline-block;
    width: 0px;
    height: 2px;
    background-color:#8a5a27;
    position: absolute;
    top:19px;
    left: 9px;
    transition: 0.5s 0.8s;
}
.notificar-email:hover::before{
    width: 70px;
}



.notificar-container-svg{
    display: flex;
    align-items: center;
    justify-content: center;
}
span{
    font-weight: bold;
}
.container-geral{
    width:100%
}
.Header-titulo{
    color:#F09D43;
    text-align:center;
    font-size:48px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding:22px 0px;
    border-bottom:1px solid #adadad;
}

.container-recebidos_selec{
    max-width:90%;
    min-height:400px;
    background-color:#ededed;
    box-shadow:1px 1px 3px rgba(32, 20, 7, 0.205);
    display:grid;
    grid-template-columns:300px 1fr;
    gap:12px;
    margin:0 auto;
    margin-bottom: 30px;
    padding:16px
}

.divEmail{
    max-width: 270px;
    max-height: 80px;
    cursor: pointer;
    border: 2px solid rgba(148, 148, 148, 0.2);
    border-left: 2px solid #F09D43; 
    border-radius: 4px;
    overflow:hidden;
    margin-bottom: 10px;
    padding-left: 10px;
    list-style: none;
    transition-property:border;
    transition-duration: 1s;
    outline: none;
}
.divEmail:hover{
    border: 2px solid #F09D43;
}
.divEmail:focus{
    border: 2px solid #8a5a27;
}

.divEmail h3{
  margin:10px 0;
  font-size: 16px;
}

.listaEmail{
    max-height: 400px;
    overflow: auto;
    border-right: 3px solid #dddddd;
    border-bottom: 3px solid #dddddd;
    list-style: none;
}

.EmailSelecionado-container{
    display: flex;
    flex-direction: column;
    width: 95%;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 4px;
    padding: 0 16px;
    line-height: 1.3;
}
.EmailSelec-fechar{
    display: none
}
.notificacaoCor{
    font-weight: bold;
    color:lightGreen
}

.CopyRight{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color:#dddddd;
    background-color: #1D1D1D;
    height: 100px;
    
}
@media(max-width:780px){
    .container-geral{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Header-titulo{
        width: 100%;
    } 
    .EmailSelecionado-container,.paragrafo-emailSelec {
        display: none;
        position: fixed;
        z-index: 5;
        width: 80%;
        min-height:300px;
        top:35vh;
        background-color: #dddddd;
        overflow-y: visible;
        padding: 20px;
        border: 1px solid rgb(180, 97, 56) ;
        box-shadow: 1px 1px 2px rgb(130, 104, 90); 
    }
    .EmailSelec-fechar{
        display: inline-block;
        align-self: flex-end;
        font-size: 14px;
        color: #F09D43;
        padding: 8px 16px;
        background-color:#1D1D1D;
        border: none;
        border-radius: 5px;
        letter-spacing: 1px;
    }
    .container-recebidos_selec{
        grid-template-columns: 1fr;
        justify-items: center;
        min-width: 80%;
    }
    .listaEmail {
        width:90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow:initial;
        max-height: 100%;
        gap: 10px 0

    }
    .listaEmail h3{
        text-align: center;
    }
    .divEmail{
        margin-bottom: 0;
        max-width: 100%;
    }
    .EmailAtual-container{
        width: auto;
    }

}


@media(max-width:400px){

    .listaEmail{
        width: 280px;
    }
    .divEmail{
        width:90%
    }
}